@import "../../global.scss";

li{
    font-size:18px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    &.active{
        background-color:$mainColor;
        color: white;
        transition: all 1s ease;
    }
}